<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  		<meta name="description" content="Image Filters,Web application">
  		<meta name="keywords" content="HTML, CSS, JavaScript, Node js, Express js,ejs, passport, bootstrap, semantic ui, pixel, green screen converter, steganography">
  		<meta name="author" content="Team13 IT VCE, 1602-18-737-008,030,048">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Filters/steganography</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
	  
	 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	  
	  <script type="text/javascript"  src="../../scripts/SimpleImage.js" ></script>
    <link rel="stylesheet" href="../../css/steg.css" />
    <script src="../../scripts/steganography.min.js"></script>
	 <script src="../../scripts/steg.js"></script>
	  <script src="../../scripts/extract.js"></script>
  </head>
  <body>