@import url('https://fonts.googleapis.com/css?family=Poppins|Gafata|Montez|Averia+Sans+Libre|Vampiro+One:200,300,400,500,600,700,800,900&family=Roboto&display=swap');
body
{
	font-family: 'Roboto',sans-serif;
    background: #66FCF1;
}
header
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo
{
	position: relative;
	max-width: 80px;
	color: #0B0C10;
}
header .logo:hover
{
	color: #eb2f06;	
}
header ul
{
	position:relative;
	display: flex;
	list-style-type: none;
}
header ul li a 
{
	display: inline-block;
	color: #0B0C10;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
}
header ul li a:hover
{
	color: #eb2f06;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail img{
  	width: 100%;
	height: 250px;
    object-fit: cover;
	vertical-align: middle;
	padding: 0;
}
.thumbnail a{
	margin-top: 5px;
}
input:focus{
	box-shadow:none !important;
	outline: none !important;
}

h1
{
	font-size: 4em;
	line-height: 1.5em;
	font-weight: 900;
	text-align: center;
  font-family: 'Montez';
   color: darken(black, 20%);
}

.imgx {
  border: 1px solid #0B0C10;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
	height: 250px;
}

.imgdis
{
	text-align: center;
	margin-top: 80px;
}
.edel
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
span + span
{
	margin-left: 15px;
}

#fgcan{
  margin-right: 2%;
}
#bgcan{
  margin-left: 2%;
}
#container{
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
#site{
	margin-top: 3%;
	text-align: center;
}
p#ip{
	display: inline-block;
}
#fgfile{
	color: #0B0C10;
}
#bgfile{
  color: #0B0C10;
}
#label2
{
  margin-left: 5%;
}

.canvas {
  border: 1px outset #0B0C10;
  height: 200px;
}

#ip{
  font-size: 12pt;
}
label{
  font-style: inherit;
  color: #0B0C10;
}

#c1{
	padding-left: 0;
    padding-right: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  	height: 300px;
  	border: 2px outset #0B0C10;
  	color: #0B0C10;
}
#site{
	margin-top: 3%;
	text-align: center;
}
.buttons
{ 
	display: inline-block;
}

hr{
    overflow: visible;
    padding: 0;
	margin-bottom: 2%;
    border: none;
    border-top: medium double #0B0C10;
    color: #0B0C10;
    text-align: center;
	top: -2em;
	position: relative;
	max-width: 50%;
	left: 21em;
}
hr:after {
    content: "☂☂☂";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
	color: #0B0C10;
    background: #66FCF1;
}

.links a 
{
 display:inline-block; 
 margin-right:10px;
}