<%- include("../partials/Steg/header") %>
<%- include("../partials/Steg/navbar") %>
<div class="cont" id="textinimage">
		<h2>
			Steganography <i class="fas fa-key fa-sm"></i>
		</h2>
		<div class="ui inverted divider" id="hr"></div>
        <div class="">
                 <input class="ui secondary button" type="file" name="pic" accept="image/*" onchange="readURL(this);"/>
				<div class="ui input">
				  <input id="text" type="text" placeholder="Enter Secret message"/>
				</div>
			<button class="ui secondary button" onclick="hideText()"><i class="eye slash icon"></i>Hide</button>
        </div>
        <div class="img-cont">
			  <div  class="img1">
				<h5>Source Image</h5>
				<img id="image1" src="" alt="" />
			  </div>

			  <div class="" id="encodedimg">
				<h5>Message Encoded Image</h5>
				<img id="image2" src="" alt="" />
				 <a class="negative ui button" href="#" onclick="prepHref(this)" download><i class="cloud download icon"></i>Download</a> 
			  </div>
        </div>
		<div class="img-cont">
			 <img id="image3" src="" alt="" />
		</div>
		<div class="decode">
		  <h5>To Decode the Text in the image, upload your <q>steg_image</q></h5>
		  <input class="ui secondary button" type="file" name="pic2" accept="image/*" onchange="treadURL(this);" />
		  <button class="ui secondary button" onclick="decode()"><i class="eye icon"></i>Decode</button>
		  <h6><span id="decoded"></span></h6>
		</div>
</div>
<%- include("../partials/Steg/footer") %>